/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
} */

/* General Resets */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  background-color: whitesmoke; /* Add this line to set the background color to grey or whitesmoke */

}

/* NavBar Styles */
.navBar {
  background-color: navy;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* padding: .5rem 1rem;   */
  /* Reduced padding */
}

.navBar a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

/* Home Page */
.home {
  padding-top: 50px; /* Adjust based on navbar height */
}

.home h1, .home h2, .home h3 {
  margin-bottom: 10px;  /* Adjust as needed */
}

.user-venue-container {
  display: flex;
}

.user-venue-container > div {
  margin-right: 100px;  /* Adjust as needed */
}


/* Create Account Page */
.user-signup {
  padding-top: 50px
  /* Adjust as needed */
}

.vendor-signup {
  padding-top: 50px
  /* Adjust as needed */
}

.user-login {
  padding-top: 50px;
}

.vendor-login {
  padding-top: 50px;
}


/* Form Styles */
form {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 20px auto;
}


input[type="text"], input[type="password"], input[type="date"], input[type="time"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.btn {
  margin-bottom: 5px;  /* Add space below the buttons */
}

.text {
  margin-bottom: 20px;  /* Add space above the text */
  white-space: nowrap;
}

button:hover {
  background-color: #0056b3;
}

/* Event Card */
.eventCard {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.eventName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.eventDescription, .eventLocation, .eventDate {
  margin-bottom: 5px;
}

/* Utilities */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px; /* Adjust based on navbar height */
}

.hidden {
  display: none;
}

body {
  background-color: whitesmoke;
  
}

