/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
} */

/* General Resets */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  background-color: whitesmoke; /* Add this line to set the background color to grey or whitesmoke */

}

/* NavBar Styles */
.login-btn {
  background-color: navy;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  /* position: fixed; */
  top: 0;
  z-index: 1000;
  position: fixed;
  width:95%;
  z-index: 1000;
  padding: 0.5rem 1rem; 
  text-align: right;
  /* padding: .5rem 1rem;   */
  /* Reduced padding */
}

.navBar {
  background-color: navy;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 1rem; 
}


.navBar a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

/* Home Page */
.home {
  padding-top: 50px; /* Adjust based on navbar height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.home h1, .home h2, .home h3 {
  margin-bottom: 10px;  /* Adjust as needed */
}

.user-venue-container {
  display: flex;
}

.user-venue-container > div {
  margin-right: 40px;  /* Adjust as needed */
  margin-top: 10px;
}


.homeDescription {
  width: 40%;
  margin-top: 30px;
  margin-right: 60px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start; */
  text-align: left;
}

/* .homeImageContainer {
  flex: 1;
  margin-right: 20px; /* Adjust as needed */

.homeImage {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.homeDescription h2 {
  color: #333;
  margin-bottom: 16px;
}

.homeDescription p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.homeDescription blockquote {
  font-style: italic;
  background: #f9f9f9;
  border-left: 5px solid #007bff;
  margin: 20px 0;
  padding: 10px 20px;
}

.homeDescription cite {
  display: block;
  text-align: left;
  margin-top: 10px;
  color: #444;
}

.citeContainer {
  display: flex;
  align-items: center;
}

.citeImage {
  border-radius: 50%;
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  margin-left: 25px; /* Adjust as needed */
}


/* Create Account/Venue Page */
.user-signup {
  padding-top: 50px
  /* Adjust as needed */
}

.vendor-signup {
  padding-top: 50px
  /* Adjust as needed */
}

.user-login {
  padding-top: 50px;
}

.vendor-login {
  padding-top: 50px;
}

.user-login-link {
  margin-bottom: 20px;
  text-align: center;
}

.user-signup-link {
  margin-bottom: 20px;
  text-align: center;
}

.venue-login-link {
  margin-bottom: 20px;
  text-align: center;

}

.venue-signup-link {
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  border: 2px solid yellow;  /* Add a yellow border */
  background-color: rgba(173, 216, 230, 0.5);  /* Make the background light blue with 50% opacity */
  background-image: url('https://img.freepik.com/free-photo/friends-cheering-sport-bar-together_53876-14947.jpg');  /* Replace 'path-to-your-image.jpg' with the actual path to your image */
  background-blend-mode: multiply;  /* This will blend the background color and the background image */
  color: white;  /* Make the font color white */
}

/* Form Styles */
form {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 20px auto;
}

.form-title { 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0em;

}


input[type="text"], input[type="password"], input[type="date"], input[type="time"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 10px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.btn {
  margin-bottom: 5px;  /* Add space below the buttons */
}

.text {
  margin-bottom: 20px;  /* Add space above the text */
  white-space: nowrap;
}

button:hover {
  background-color: #0056b3;
}

/* Event Card */
.page-title { 
  text-align: center; /* centers the page title in EventList comp.*/
  margin-top: 5px;
  margin-bottom: 10px;
}


.eventCard {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.card-container {
  
  padding: 10px;
}

.eventName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.eventDescription, .eventLocation, .eventDate {
  margin-bottom: 5px;
}

/* Utilities */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px; /* Adjust based on navbar height */
}

.hidden {
  display: none;
}

body {
  background-color: whitesmoke;
  
}

@media (max-width: 768px) {
  body, html {
    font-size: 12px;  /* Reduce font size */
    padding: 0 0px;  /* Add some padding to prevent content from touching the edges */
  }

  .navBar {
    padding: .5rem;  /* Reduce navbar padding */
  }

  /* Add other styles as needed... */
}
